input[type=text] {
    width: 80px;
    margin-left: 20px;
    text-align: center;
    float: right;
}

input[type=submit] {
    float: right;
}

.product {
    margin-bottom: 10px;
}

.products {
    margin-top: 10px;
    width: 400px;
}

.diagram {
    margin-top: 40px;
}

.modal {
    top: 5%;
    left: 20%;
    width: 892px;
}

.modal .heading {
    background: none;
    width: 100%;
    height: 20px;
}

.modal .heading button {
    background: white;
    color: black;
    opacity: 1;
    width: 25px;
    margin-bottom: 5px;
    border: 2px solid black;
    height: 25px;
}

.modal .heading button:hover {
    color: blue;
    border-color: blue;
}